if SHIELD_corneucopia_left

config ZMK_KEYBOARD_NAME
    default "Corneucopia"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORNEUCOPIA_LEFT || SHIELD_CORNEUCOPIA_RIGHT

config ZMK_SPLIT
    default y

endif